* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.15;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
#s1,
#s2,
#s3,
#s4,
#s5,
#s6,
#s7,
#s8,
#s9 {
    width: 100%;
    max-width: 1560px;
    height: fit-content;
    padding: 50px 100px;
}

header{
    padding: 0px;
}

#header_img {
    width: 100%
}

main {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: "Oswald", sans-serif;
    font-size: 64px;
    letter-spacing: 5px;
    font-weight: 700;
    color: #AC045C;
}

.sub-heading {
    font-size: 24px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 1 */

.s1-c1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.s1-sc1 {
    width: 350px;
}

.s1-hea {
    align-self: flex-end;
    position: relative;
    right: 130px;
}

#s1-img1 {
    width: 100%;
    z-index: 100;
    position: relative;
    align-self:flex-end;
}

#s1-img {
    display: none;
}

#s1-heading1,
#s1-heading2 {
    margin-bottom: 10px;
    align-self: flex-start;
    line-height: 0.8;
}

#s1-par {
    width: 620px;
    text-align: justify;
}

#line {
    width: 45%;
    height: 4px;
    background-color: #AC045C;
}

/* section */

.myswiper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#s2 {
    width: 100%;
    max-width: 1440px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#s2-heading {
    font-size: 72px;
    letter-spacing: 15px;
    margin-bottom: 10px;
}

#s2-img1,
#s2-img2,
#s2-img3,
#s2-img4 {
    width: 100%;
    height: 100%;
    max-height: 650px;
    border-Radius: 40px;
}


#s3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#s3-heading {
    width: 50%;
    margin-bottom: 10px;
    align-self: flex-start;
}

.s3-c1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s3-sc1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s3-subheading {
    font-size: 24px;
}

#s3-img1,
#s3-img2,
#s3-img3,
#s3-img4 {
    width: 45%;
    height: 100%;
    border-radius: 32px;
    padding: 7.25px;
    animation: v1 linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

#s4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

#s4-img1 {
    width: 80%;
}

#s4-img2 {
    width: 90%;
    animation: h1 linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

#s5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

#s5-heading{
    align-self: flex-start;
}

.s5-sc1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 12.5px;
}

.s5-img {
    width: 100%;
    max-width: 200px;
    border-radius: 24px;
}

.s5-ssc1 {
    width: 100%;
    max-width: 300px;
}

.s5-subheading2 {
    color: #AC045C;
}

#s6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.s6-c1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: justify;
}

.s6-sc1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    animation: h2 linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.s6-img {
    width: 30%;
    border-radius: 25px;
    animation: v2 linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.s6-ssc1 {
    width: 50%;
    font-size: 18px;
    animation: v3 linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

#s6-line {
    color: #AC045C;
    font-size: 18px;
}

#s7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#s7-img1 {
    width: 75%;
}

#s8 {
    justify-items: center;
}

.s8-c1 {
    background-color: #AC045C;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#s8-heading {
    color: white;
    font-size: 72px;
    letter-spacing: 5px;
}

.s8-sc1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#s8-img1 {
    width: 100%;
    height: 50%;
}


#s8-para {
    font-weight: 500;
    color: white;
    text-align: justify;
    line-height: 1.2;
}

#s9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.s9-c1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
}

#s9-img1 {
    width: 100%;
    max-width: 360px;
    align-self: flex-start;
}

#s9-para {
    width: 100%;
    text-align: justify;
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

.s9-sh1 {
    font-size: 28px;
    color: #AC045C;
}

.s9-sh2 {
    color: #AC045C;
}

.s9-sh3 {
    color: #AC045C;
}