@media screen and (max-width:1150px) {
    * {
        font-size: 14px;
        line-height: 1.10;
    }

    header,
    #s1,
    #s3,
    #s4,
    #s6,
    #s7,
    #s8,
    #s9 {
        width: 100%;
        padding: 25px 50px;
    }

    header{
        padding: 0px;
    }

    .heading {
        font-size: 48px;
        letter-spacing: 2px;
    }

    .sub-heading {
        font-size: 16px;
    }

      /* section1 */
    #s1{
        padding: 25px;
    }

    .s1-sc1 {
        width: 100%;
        max-width: 320px;
    }
    
    .s1-hea {
        right: 120px;
    }
    
    #s1-heading1,
    #s1-heading2 {
        margin-bottom: 5px;
    }
    
    #s1-par {
        width: 500px;
        text-align: justify;
    }

    #line {
        height: 2px;
    }

    #s2 {
        padding: 25px;
        width: 100%;
        max-width: 800px;
        height: 100%;
        max-height: 500px;
    }

    #s2-heading {
        font-size: 48px;
        letter-spacing: 5px;
    }

    #s2-img1,
    #s2-img2,
    #s2-img3,
    #s2-img4 {
        border-Radius: 30px;
    }

    #s3{
        width: 100%;
        height: 500px;
        max-width: 750px;
    }

    .s3-subheading {
        font-size: 18px;
    }

    #s3-img1,
    #s3-img2,
    #s3-img3,
    #s3-img4 {
        width: 350px;
        height:  200px;
        border-radius: 24px;
    }

    #s4 {
        padding: 25px;
    }

    .s5-sc1 {
        width: 100%;
    }

    .s5-img {
        width: 150px;
        border-radius: 20px;
    }

    
    .s5-ssc1 {
        width: 100%;
    }

    .s6-sc1 {
        gap: 12.5px;
    }

    .s6-img {
        width: 35%;
        border-radius: 25px;
    }

    .s6-ssc1 {
        width: 70%;
    }

    #s6-line {
        color: #AC045C;
        font-size: 16px;
    }

    #s7-img1 {
        width: 87.5%;
    }

    #s8 {
        padding: 25px ;
    }

    #s8-heading {
        font-size: 48px;
    }

    .s8-sc1 {
        gap: 12.5px;
        width: 100%;
    }

    #s9{
        margin-bottom: 50px;
        padding: 25px 20px;
    }

    #s9-img1 {
        width: 100%;
        max-width: 320px;
        align-self: flex-start;
    }

    #s9-para {
        gap: 6.25px;
    }

    .s9-sh1 {
        font-size: 20px;
        color: #AC045C;
    }
}



@media screen and (max-width: 756px) {
    * {
        font-size: 12px;
    }

    header,
    #s1,
    #s3,
    #s4,
    #s5,
    #s6,
    #s7,
    #s8,
    #s9 {
        width: 100%;
        padding: 25px;
    }

    header,
    #s2 {
        padding: 0px;
    }

    #header_img {
        width: 100%;
    }

    .heading {
        font-size: 26px;
        width: 100%;
        text-align: center;
    }

    .sub-heading{
        font-size: 14px;
    }

    .swiper{
        border-radius: 20px;
    }

    .s1-c1 {
        flex-direction: column;
    }

    .s1-sc1 {
        width: 300px;
        align-self: center;
    }

    #s1-img {
        width: 100%;
        max-width: 350px;
        display: block;
    }

    #s1-img1 {
        display: none;
    }

    .s1-hea {
        display: none;
    }

    #s1-par {
        width: 80%;
    }

    #line {
        margin-top: 5px;
    }

    #s2 {
        padding: 12.5px;
    }

    #s2-heading {
        font-size: 32px;
        letter-spacing: 2px;
        width: 100%;
        text-align: center;
    }

    #s2 {
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-height: 300px;
    }

    #s2-img1,
    #s2-img2,
    #s2-img3,
    #s2-img4 {
        width: 100%;
        border-Radius: 20px;
    }

    #s3{
        height: 300px;
        width: 100%;
        max-width: 550px;
        padding: 12.5px;
    }


    #s3-heading {
        font-size: 22px;
    }

    .s3-subheading {
        font-size: 14px;
    }

    #s3-img1,
    #s3-img2,
    #s3-img3,
    #s3-img4 {
        width: 220px;
        height: 100%;
        max-height: 150px;
        border-radius: 16px;
    }

    #s4 {
        gap: 12.5px;
        padding: 12.5px;
    }

    #s5,
    #s6,
    #s7 {
        gap: 12.5px
    }

    .s5-sc1 {
        width: 100%;
        max-width: 500px;
        flex-direction: column;
        text-align: center;
    }

    .s5-img {
        width: 100px;
        border-radius: 16px;
    }

    .s5-ssc1 {
        width: 80%;
    }

    #s6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .s6-c1 {
        gap: 12.5px;
    }

    .s6-sc1 {
        flex-direction: column;
        gap: 12.5px;
    }

    .s6-img {
        width: 60%;
        border-radius: 18px;
    }

    .s6-ssc1 {
        width: 90%;
    }

    #s6-line {
        color: #AC045C;
        font-size: 14px;
    }

    #s7 {
        padding: 12.5px;
    }

    #s7-img1 {
        width: 87.5%;
    }

    #s8 {
        padding: 0px 25px;
    }


    .s8-c1 {
        flex-direction: column;
        gap: 12.5px;
        width: 100%;
        padding: 25px;
    }

    #s8-heading {
        font-size: 24px;
        justify-items: center;
    }

    .s9-c1 {
        flex-direction: column;
    }
    

    #s9-img1 {
        width: 50%;
        max-width: 280px;
        align-self: center;
    }

    #s9-para {
        width: 80%;
        font-size: 12px;
    }

    .s9-sh1 {
        font-size: 18px;
        color: #AC045C;
    }

}